


.game {
width: 2200px;
background-image: url(assets/background.jpg);
background-size: 1300px;
height:990px;
border: 30px solid purple;
margin: auto;
position: relative;

}

#score{
   
    font-size: 9vmin;
    color: white;
    left: 480px;
    top: 50px;


}

li {
font-style: none;
}


.splash-screen{
       
    text-align:center;
    color: purple;
    font-weight: bolder;
    font-size: 3vmin;
    margin: auto;
   
   
}

 
button {
       
    appearance: none;
    background-color: yellow;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    padding: .7em .85em .6em 1em;
    text-transform: uppercase;
  
  
}

#dino{
   
    width: 140px;
    height: 160px;
    position: relative;
    top: 660px; 
    left: 420px;
   
}





@keyframes jump{
    0%{top: 150px;}
    40%{top: 500px;}
    60%{top: 125px;}
    100%{top: 150px;}
    
}
.animate{
    animation: jump 250ms;
    
}


#asteroid1{
    width: 110px;
    height: 90px;
    position: relative;
    top: 630px;
    animation: asteroid1 10s infinite linear;
}
#asteroid2{
    width: 90px;
    height: 45px;
    position: relative;
    top: 330px;
    animation: asteroid2 2s infinite linear;
}

#asteroid3{
    width: 150px;
    height: 100px;
    position: relative;
    top: 130px;
    animation: asteroid2 5s infinite linear;

}


@keyframes asteroid1{
    0%{left: 2000px} 
    100%{left: -100px}
}

@keyframes asteroid2{
    0%{left: 2000px} 
    100%{left: -100px}
}
@keyframes asteroid3{
    0%{left: 2000px} 
    100%{left: -100px}
}
